# Need ifdata: sudo apt-get install moreutils
# sample config file

# will not suspend machine if any of these IPs is online
ips_to_watch = "";

# suspend the machine if the cpu is idle
suspend_if_cpu_idle = "true";

# suspend the machine if the storage is idle
suspend_if_storage_idle = "true";

# disk devices to monitor usage
disks_to_monitor = "all";

disks_to_spin_down = "";

# times when machine should be awake
wake_at = "01:00,16:00";

# sleep modes are: disk, mem or stand_by
sleep_mode = "mem";

# check if the system is idle every minute
check_if_idle_every = "1";

# if found clients online, stop monitoring for 5 minutes
stop_monitoring_for = "5";

# reset timers if system was busy for more than 3 minutes
reset_monitoring_after = "3";

# suspend system if idle for more than 15 minutes
suspend_after = "15";
